
<table mat-table [dataSource]="developers">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let developer">{{developer.name}}</td>
  </ng-container>

  <ng-container matColumnDef="foundation_date">
    <th mat-header-cell *matHeaderCellDef>Date of Foundation</th>
    <td mat-cell *matCellDef="let developer">{{developer.foundation_date}}</td>
  </ng-container>

  <ng-container matColumnDef="ceo_name">
    <th mat-header-cell *matHeaderCellDef>Name of CEO</th>
    <td mat-cell *matCellDef="let developer">{{developer.ceo_name}}</td>
  </ng-container>

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let developer">
      <button mat-button [routerLink]="'/developer-form/' + developer.id">Edit</button>
      <button mat-button (click)="deleteDeveloper(developer)" *ngIf="userService.hasPermission('gameLibraryApp.delete_developer')">Delete</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
